*.RDS
*.rds
*.RDataTmp
*.out
*.err
*.csv
*.bed
*.bedGraph
/dcs07/afeinber/data/personal/jzhan/CPEL2/dep/output/
/dcs07/afeinber/data/personal/jzhan/CPEL2/manual/
/dcs07/afeinber/data/personal/jzhan/CPEL2/output/
.RDataTmp
